#storelist-page .ui-block-a {
    padding:5px 5px 0px 5px;
    background: rgba(255,255,255,0.95);
    width: 100%;
}
#storelist-page .main-content .bgColor{
    padding: 0px;
}
 
.ui-block-a .figre {
    position: relative;
    padding: 0px;
}

.ui-block-a .figre img {
    /*     사진비율 :  370*150 */
    height: auto;
    width: 100%;
}

.ui-block-a .figre .fig {
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 5px 5px 0px;
    color: #fff;
    text-align: right;
    font-size:100%;
    text-shadow: 1px 1px 0 #000,
			    -1px 1px 0 #000,
			    1px -1px 0 #000,
			    -1px -1px 0 #000,
			    0px 1px 0 #000,
			    0px -1px 0 #000,
			    -1px 0px 0 #000,
			    1px 0px 0 #000,
			    2px 2px 0 #000,
			    -2px 2px 0 #000,
			    2px -2px 0 #000,
			    -2px -2px 0 #000,
			    0px 2px 0 #000,
			    0px -2px 0 #000,
			    -2px 0px 0 #000,
			    2px 0px 0 #000,
			    1px 2px 0 #000,
			    -1px 2px 0 #000,
			    1px -2px 0 #000,
			    -1px -2px 0 #000,
			    2px 1px 0 #000,
			    -2px 1px 0 #000,
			    2px -1px 0 #000,
			    -2px -1px 0 #000;
}

.ui-block-a .figre .fig .address {
    font-size: 1.3em;
    text-align: right;
    margin-bottom : -2px;
}

.ui-block-a .figre .fig .name {
    font-size: 2em;
    text-align: right;
}

.spinner7 > div{
/*    변경예정*/
/*    background-color : red !important;*/
}
